*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
    margin: 0;
    overflow: hidden;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: -1;  */
  }
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    /* background: url('book-stack.png'); */
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 450px;
    height: 650px;
    /* background: transparent; */
    border: 2px solid rgb(59, 36, 36);
    border-radius: 20px;
    /* backdrop-filter: blur(15px); */
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: black;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid black;
    autoComplete: off;
    
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color:black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color:black;
    
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.2em;
    top: 20px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}